<div class="search-container">
    <header class="header"></header>
    <section class="search"></section>
    <main class="content">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Artist</mat-label>
                <input type="email" matInput [formControl]="artistFormControl" placeholder="Ex. Radiohead">
                @if (!artistFormControl.hasError('required')) {
                <mat-error>Please enter an artist name</mat-error>
                }
                @if (artistFormControl.hasError('required')) {
                <mat-error>Artist name is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <section>
                <div class="example-button-row">
                    <button (click)="searchArtist()" mat-stroked-button [disabled]="!artistFormControl.valid">Basic</button>
                </div>
            </section>
        </form>
          
    </main>
    <footer class="footer"></footer>
</div>
